@font-face {
    font-family: 'Beatrice Trial';
    src: url('BeatriceTrial-Regular.woff2') format('woff2'),
        url('BeatriceTrial-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

