@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: "Beatrice Trial";
  src: url("/fonts/BeatriceTrial-Regular.woff2") format("woff2"),
    url("/fonts/BeatriceTrial-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela Text";
  src: url("/fonts/BeatriceTrial-Regular.woff2") format("woff2"),
    url("/fonts/CanelaText-RegularNo2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-font: "Beatrice Trial";
  --sub-font: "PT Serif Caption";
  --sub-third-font: "Canela Text";
  --ralway-font: "Raleway", sans-serif;
  --logo-font: "Lugrasimo";
  --bebas-font: "Bebas Neue", sans-serif;
  --main-dark-color: #292929;
  --sub-color: rgb(88, 101, 126);
  --main-white-color: #fafafa;
  --progress1: 0;
}

/* fonts */
html {
  overflow-x: hidden;
}
body {
  // background-color: #242526;
  text-transform: capitalize;
  font-family: var(--main-font);

  a {
    text-decoration: none;
    color: #fff;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }

  .main-btn {
    position: relative;
    padding: 15px 0px;
    background-color: #2e2e2e;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-left: 40px;
    z-index: 10;
    gap: 20px;
    overflow: hidden;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s all cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &:hover {
      background-color: #fff;
      border: 1px solid #2e2e2e;
      color: #2e2e2e;
    }
    &:hover .btn-arrow-box {
      background-color: #2e2e2e;
    }
    &:hover .btn-arrow-box svg path {
      fill: #fff;
    }

    .btn-arrow-box {
      height: 40px;
      width: 40px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      @media screen and (max-width: 991px) {
        height: 30px;
        width: 30px;
      }

      @media screen and (max-width: 400px) {
        height: 25px;
        width: 25px;
      }

      svg {
        @media screen and (max-width: 991px) {
          height: 12px;
          width: 12px;
        }
      }
    }

    @media screen and (max-width: 991px) {
      margin-left: 0px;
      width: 190px;
      padding: 10px 0px;
      font-size: 14px;
    }
    @media screen and (max-width: 400px) {
      margin-left: 0px;
      width: 190px;
      padding: 8px 0px;
      font-size: 12px;
    }
  }
  .same_section {
    padding-top: 90px;

    @media screen and (max-width: 1400px) {
      margin-top: 50px;
    }
  }

  .back_title {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

    h2 {
      color: gray;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;

      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }

    h1 {
      font-size: 40px;
      position: relative;

      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
      @media screen and (max-width: 500px) {
        font-size: 24px;
      }
      @media screen and (max-width: 400px) {
        font-size: 18px;
      }
    }
  }
  .name-price {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: column;

    h6 {
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 10px;

      @media screen and (max-width: 1199px) {
        font-size: 16px;
      }
      @media screen and (max-width: 575px) {
        font-size: 14px;
      }
    }
    p {
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      color: #000;

      span {
        text-decoration: line-through;
        color: maroon;
      }
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// header
.header {
  .up_header {
    width: 100%;
    position: relative;
    height: 50px;
    background-color: #2e2e2e;
    padding: 5px 20px;

    @media screen and (max-width: 575px) {
      padding: 5px 10px;
    }
    .up_header_warp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1400px;
      width: 100%;
      margin: auto;

      .left {
        border: 1px solid #f1f1f1;
        padding: 8px 20px;
        border-radius: 30px;
        overflow: hidden;
        width: 400px;

        @media screen and (max-width: 767px) {
          width: 100%;
        }

        h6 {
          display: flex;
          gap: 20px;
          color: #f1f1f1;
          font-size: 12px;
          font-weight: 700;
          text-wrap: nowrap;
          animation: 10s marquee infinite linear;

          @keyframes marquee {
            0% {
              transform: translate(0%);
            }
            100% {
              transform: translatex(-100%);
            }
          }
        }
      }
      .right {
        @media screen and (max-width: 767px) {
          display: none;
        }
        ul {
          display: flex;
          align-items: center;
          gap: 40px;
        }
      }
    }
  }
  .main_header {
    padding: 10px 20px;

    @media screen and (max-width: 575px) {
      padding: 10px;
    }
    .main_header_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1400px;
      width: 100%;
      margin: auto;

      @media screen and (max-width: 575px) {
        max-width: 100%;
      }
      .left {
        display: flex;
        align-items: center;
        gap: 40px;

        @media screen and (max-width: 991px) {
          gap: 0px;
        }
        .humburger {
          position: relative;
          cursor: pointer;
          .bar2 {
            height: 2px;
            width: 20px;
            background-color: #2e2e2e;
            margin: 5px 0;
            border-radius: 30%;
          }
          .bar1,
          .bar3 {
            height: 2px;
            width: 35px;
            background-color: #2e2e2e;
            margin: 5px 0;
            border-radius: 30%;

            @media screen and (max-width: 500px) {
              width: 30px;
            }
          }
        }
        ul {
          display: flex;
          align-items: center;
          gap: 40px;

          @media screen and (max-width: 991px) {
            display: none;
          }
          li {
            a {
              font-size: 14px;
              color: #2e2e2e;
              font-weight: 600;
            }
          }
        }
        .hover_li:hover .mega-dropdown {
          height: 350px;
        }
        .mega-dropdown {
          position: absolute;
          width: 100%;
          left: 0;
          top: 120px;
          height: 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          transition: 0.5s all cubic-bezier(0.755, 0.05, 0.855, 0.06);
          overflow: hidden;
          z-index: 200;
          background-color: #fff;

          .mega-container {
            max-width: 1300px;
            width: 100%;
            margin: auto;

            .outer {
              display: flex;
              justify-content: space-around;

              .col-3 {
                width: 40% !important;

                .img_part {
                  height: 250px;
                  width: 250px;
                  transition: 0.4s all cubic-bezier(0.6, 0.04, 0.98, 0.335);
                  &:hover {
                    height: 240px;
                  }
                  &:hover img {
                    filter: grayscale(0%);
                    transform: scale(1.1);
                  }

                  a {
                    height: 100%;
                  }
                  img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    filter: grayscale(100%);
                    transition: 0.4s all cubic-bezier(0.6, 0.04, 0.98, 0.335);
                  }
                }
              }

              .cols {
                width: 15%;

                .col_inner {
                  padding: 20px;

                  .mega-title {
                    font-family: var(--sub-font);
                    margin-bottom: 20px;
                    font-size: 20px;
                    color: #383434;
                  }

                  ul {
                    display: flex;
                    align-items: start !important;
                    gap: 20px;
                    flex-direction: column;

                    li {
                      &:hover img {
                        opacity: 1;
                        visibility: visible;
                      }
                      a {
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        gap: 10px;

                        img {
                          width: unset;
                          height: 10px;
                          opacity: 0;
                          visibility: hidden;
                          transition: 0.5s all;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .right {
      .icons {
        ul {
          display: flex;
          align-items: center;
          gap: 30px;

          @media screen and (max-width: 991px) {
            gap: 10px;
          }

          @media screen and (max-width: 9575px) {
            gap: 5px;
          }
          .cart {
            a {
              width: 100%;
              display: flex;
              align-items: center;

              span {
                width: 100px;
                background-color: #2e2e2e;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;

                @media screen and (max-width: 991px) {
                  display: none;
                }
              }

              .svg_part {
                height: 50px;
                width: 50px;
                background-color: #2e2e2e;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                left: -10px;

                @media screen and (max-width: 991px) {
                  left: 0;
                }
                @media screen and (max-width: 767px) {
                  height: 40px;
                  width: 40px;
                }
                @media screen and (max-width: 500px) {
                  height: 30px;
                  width: 30px;
                }

                .inner_svg {
                  display: flex;
                  height: 37px;
                  width: 37px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #fafafa;
                  border-radius: 50%;

                  @media screen and (max-width: 767px) {
                    height: 30px;
                    width: 30px;
                  }
                  svg {
                    fill: #2e2e2e;
                  }
                }
              }
            }
          }
          .user {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #2e2e2e;
            border-radius: 50%;

            @media screen and (max-width: 767px) {
              height: 40px;
              width: 40px;
            }
            @media screen and (max-width: 500px) {
              height: 30px;
              width: 30px;
            }
            svg {
              fill: #fff;

              @media screen and (max-width: 500px) {
                height: 10px;
                width: 10px;
              }

              circle,
              path {
                stroke: #fff;
              }
            }
          }
        }
      }
    }
    .middle {
      .log {
        h1 {
          color: #2e2e2e;
          font-family: var(--logo-font);

          @media screen and (max-width: 575px) {
            font-size: 20px;
          }
        }
      }
    }
  }
  .head_animate_li {
    &:hover a .up_link {
      transform: translatey(-18px);
    }
    &:hover a .down_link {
      transform: translatey(-21px);
    }
    a {
      color: #fff;
      display: flex;
      font-size: 14px;
      flex-direction: column;
      height: 20px;
      overflow: hidden;
      .up_link,
      .down_link {
        transition: 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      }
    }
    select {
      border: none;
      outline: none;
      background: transparent;
      color: #fff;
      width: 80px;
      height: 25px;

      option {
        background-color: transparent;
        color: #000;
      }
    }
  }
  .sidemenu {
    position: fixed;
    height: 100%;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), darkgray);
    backdrop-filter: blur(30px);
    width: 0px;
    text-wrap: nowrap;
    overflow: hidden;
    transition: 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 200;

    .inner_side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 20px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (max-width: 991px) {
          gap: 20px;
        }

        a {
          transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
          text-decoration: none;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(90deg, #000, #2c2c2c 50%, #fff 0);
          background-size: 200% 100%;
          background-position: 100%;
          font-size: 25px;
          color: #fff;
          text-align: left;
          font-weight: 800;
          letter-spacing: 2.59px;

          &:hover {
            background-position: 0;
            color: #0300e2;
          }

          @media screen and (max-width: 991px) {
            font-size: 20px;
          }
        }
      }

      .logo {
        text-align: start;
        width: 100%;
        h1 {
          color: #fff;
        }
      }
    }
    .close_btn {
      position: absolute;
      top: 20px;
      right: 20px;
      height: 30px;
      width: 30px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover img {
        transform: rotate(1turn);
      }

      img {
        height: 15px;
        width: 15px;
        transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      }
    }
  }
  .activesidemenu {
    width: 400px;

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
  .side_extra {
    @media screen and (min-width: 991px) {
      display: none;
    }
  }
}

/* --------------------------------------
                      benner
      -----------------------------------------*/

.main {
  .container-lg {
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 0 30px;

    @media screen and (max-width: 575px) {
      padding: 0 10px;
    }
  }

  .first {
    margin-top: 50px !important;
    .first_section {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -28px;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: white;
        filter: blur(11px);

        @media screen and (max-width: 767px) {
          bottom: 250px;
        }
        @media screen and (max-width: 400px) {
          bottom: 210px;
        }
      }
      .img {
        height: 900px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @media screen and (max-width: 991px) {
          position: relative;
          max-width: 40%;
          width: 100%;
          height: 600px;
        }
        @media screen and (max-width: 767px) {
          max-width: 100%;
          width: 100%;
        }
        @media screen and (max-width: 575px) {
          height: 500px;
        }
        @media screen and (max-width: 400px) {
          height: 400px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      .back_text {
        // text-align: center;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        height: 900px;

        @media screen and (max-width: 991px) {
          height: 100%;
          max-width: 60%;
          width: 100%;
        }
        @media screen and (max-width: 767px) {
          max-width: 100%;
          width: 100%;
        }
        h1 {
          font-size: 100px;
          @media screen and (max-width: 1600px) {
            font-size: 90px;
          }
          @media screen and (max-width: 1199px) {
            font-size: 80px;
          }
          @media screen and (max-width: 1600px) {
            font-size: 80px;
          }
          @media screen and (max-width: 991px) {
            font-size: 45px;
            text-align: start !important;
          }
          @media screen and (max-width: 850px) {
            font-size: 40px;
            text-align: start !important;
          }
          @media screen and (max-width: 575px) {
            font-size: 35px;
          }
          @media screen and (max-width: 400px) {
            font-size: 28px;
          }
        }
        .front {
          z-index: 100 !important;
          position: relative;
          color: rgb(88, 101, 126);
          text-align: end;
        }
        .back {
          color: rgb(88, 101, 126);
          text-align: start;
          overflow: hidden;
          width: max-content;
        }

        .benner_p {
          max-width: 450px;
          text-align: start;
          width: 100%;
          margin-left: 40px;
          z-index: 10;
          font-size: 18px;
          color: #2e2e2e;
          font-weight: 700;
          font-family: var(--sub-third-font);
          margin-bottom: 20px;

          @media screen and (max-width: 1600px) {
            font-size: 16px;
          }
          @media screen and (max-width: 991px) {
            margin-left: 0px;
            font-size: 12px;
            max-width: 100%;
          }
          @media screen and (max-width: 400px) {
            font-size: 10px;
          }
        }

        .char {
          transform: translateY(115px);
          transition: transform 0.5s;
        }
      }

      .container-lg {
        @media screen and (max-width: 991px) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row-reverse;
          gap: 30px;
        }
        @media screen and (max-width: 767px) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
/* --------------------------------------
                  benner
    -----------------------------------------*/

/* --------------------------------------
                  second section
  -----------------------------------------*/
.second {
  background-color: #fff;
  z-index: 100;
  padding: 30px 0px;
  position: relative;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
  .second_section {
    .marquee_line {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 50px;
      width: 100%;
      overflow: hidden;

      .marquee_warp {
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        gap: 50px;
        // animation: warp 15s infinite linear;
        // height: 100vh;

        @keyframes warp {
          0% {
            transform: translateX(0%);
          }
          100% {
            transform: translate(-100%);
          }
        }
        span {
          font-size: 40px;
          font-weight: 600;
          text-transform: uppercase;

          @media screen and (max-width: 575px) {
            font-size: 30px;
          }
          @media screen and (max-width: 400px) {
            font-size: 22px;
          }
        }
        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}
/* --------------------------------------
                  second section
  -----------------------------------------*/

/* --------------------------------------
                  third section
  -----------------------------------------*/
.third {
  position: relative;

  .third_section {
    background-color: #f4f4f4;
    padding: 60px 0;
    position: relative;
    z-index: 100;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      @media screen and (max-width: 850px) {
        flex-wrap: wrap;
        justify-content: center;
      }
      @media screen and (max-width: 767px) {
        justify-content: center;
      }

      .cols_part {
        width: 35%;
        @media screen and (max-width: 850px) {
          width: 48%;
        }
        @media screen and (max-width: 767px) {
          width: 48%;
        }
        @media screen and (max-width: 575px) {
          width: 45%;
        }
        @media screen and (max-width: 500px) {
          width: 100%;
        }
        &:hover .img_part img {
          transform: scale(1.1);
        }

        .img_part {
          width: 100%;
          height: 600px;
          border-radius: 20px;
          overflow: hidden;

          @media screen and (max-width: 1400px) {
            height: 500px;
          }

          @media screen and (max-width: 1024px) {
            height: 400px;
          }
          @media screen and (max-width: 850px) {
            height: 450px;
          }
          @media screen and (max-width: 767px) {
            height: 370px;
          }
          @media screen and (max-width: 575px) {
            height: 300px;
          }
          @media screen and (max-width: 500px) {
            height: 500px;
          }
          @media screen and (max-width: 400px) {
            height: 100%;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 12px;
            transition: 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

            @media screen and (max-width: 1400px) {
              object-position: top;
            }
          }
        }
        .title_part {
          width: 100%;
          text-align: center;
          margin-top: 15px;

          h6 {
            color: #000;
            font-size: 18px;
          }
        }
      }
    }
  }
}

/* --------------------------------------
                  third section
  -----------------------------------------*/

/* --------------------------------------
                  fourth section
  -----------------------------------------*/
.fourth {
  .fourth_section {
    position: relative;
    // overflow-x: hidden;
    // padding: 40px 0 ;
    .back_circle {
      height: 300px;
      width: 300px;
      // background-color: #dadada;
      border-radius: 50%;
      position: absolute;
      opacity: 0.6;
      right: -70px;
      top: -130px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 1140px) {
        right: -150px;
        top: -200px;
      }
      @media screen and (max-width: 575px) {
        display: none;
      }

      .logo {
        position: absolute;
        // background-color: red;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          animation: svgrotate 10s linear infinite;

          @keyframes svgrotate {
            0% {
              transform: rotate(0%);
            }
            100% {
              transform: rotate(-1turn);
            }
          }
        }
      }

      .text {
        position: absolute;
        height: 100%;
        width: 100%;
        animation: rotate 30s linear infinite;

        @keyframes rotate {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(1turn);
          }
        }
        span {
          font-size: 20px;
          position: absolute;
          left: 50%;
          top: -17%;
          transform-origin: 0 200px;
        }
      }
    }
    .text_warp {
      .line1,
      .line2,
      .line3 {
        font-size: 50px;
        color: #292929;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1600px) {
          font-size: 42px;
        }
        @media screen and (max-width: 1140px) {
          font-size: 32px;
        }
        @media screen and (max-width: 850px) {
          font-size: 25px;
        }
        @media screen and (max-width: 575px) {
          font-size: 18px;
        }
        @media screen and (max-width: 450px) {
          font-size: 16px;
        }
        @media screen and (max-width: 450px) {
          font-size: 13px;
        }
        strong {
          margin: 0 20px;
          font-style: italic;
          font-weight: 700;

          @media screen and (max-width: 450px) {
            margin: 0 10px 0 0;
          }
        }

        span {
          height: 120px;
          width: 120px;
          display: block;
          margin: 0 20px;

          @media screen and (max-width: 1140px) {
            height: 80px;
            width: 80px;
          }
          @media screen and (max-width: 850px) {
            height: 60px;
            width: 60px;
            margin: 0 10px;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            max-width: 100%;
          }
        }
      }
      .line1 {
        .change_image_bg {
          background-image: url(../images/about-2.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          animation: toggleImage 2s steps(1) infinite;
          flex-shrink: 0;

          @keyframes toggleImage {
            0%,
            30% {
              background-image: url(../images/about-2.jpg);
            }
            31%,
            60% {
              background-image: url(https://plus.unsplash.com/premium_photo-1661741573027-7b95db386a03?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }
            61%,
            100% {
              background-image: url(https://plus.unsplash.com/premium_photo-1661727339503-b15c728dff40?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }
          }

          @media screen and (max-width: 575px) {
            display: none;
          }
        }
      }
      .line2 {
        .shrink {
          flex-shrink: 0;

          @media screen and (max-width: 575px) {
            display: none;
          }
        }
      }
    }
  }
}
/* --------------------------------------
                  fourth section
  -----------------------------------------*/

/* ---------------------------------------
                  five_section
  -------------------------------------------*/
.five_section {
  background-color: #f4f4f4;
  .five_inner {
    padding: 50px 45px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 575px) {
      padding: 30px 20px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 40px;
    }

    .left {
      width: 30%;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .slogan {
        img {
          height: 90%;
          width: 90%;
          margin-bottom: 50px;

          @media screen and (max-width: 767px) {
            height: 40%;
            width: 40%;
            margin-bottom: 20px;
          }
        }
      }
      .main-btn {
        margin-left: 0;
      }
    }
    .right {
      width: calc(100% - 30%);

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .back_title {
      text-align: start;
      margin: 30px 0;

      h1 {
        font-family: var(--ralway-font) !important;
        text-transform: capitalize;
        font-weight: 400;
        letter-spacing: 10px;
      }
    }

    .swiper-wrapper {
      align-items: center;

      .product_part {
        .img_part {
          height: 600px;
          margin-bottom: 18px;

          @media screen and (max-width: 1600px) {
            height: 500px;
          }
          @media screen and (max-width: 1400px) {
            height: 400px;
          }
          @media screen and (max-width: 1199px) {
            height: 400px;
          }
          @media screen and (max-width: 991px) {
            height: 400px;
          }
          @media screen and (max-width: 500px) {
            height: 300px;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
          }
        }
      }
    }
  }
}
/* ---------------------------------------
                  five_section
  -------------------------------------------*/
/* ---------------------------------------
                  six_section
  -------------------------------------------*/
.six {
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
  .six_inner {
    video {
      height: 100%;
      width: 100%;
    }
    .main-btn {
      width: 300px !important;
      margin-left: 0px;

      @media screen and (max-width: 991px) {
        width: 240px !important;
      }
      @media screen and (max-width: 991px) {
        width: 220px !important;
      }
      @media screen and (max-width: 400px) {
        width: 200px !important;
      }
    }

    .video_text {
      position: absolute;
      top: 0;
      left: 40px;
      top: 50px;
      width: max-content;

      @media screen and (max-width: 575px) {
        position: relative;
        // background-color: #000;
        width: 100%;
        left: 0;
        top: 0;
        padding: 20px 10px;
      }

      .main_h1 {
        font-size: 100px;
        font-family: var(--bebas-font);
        color: #fff;
        margin-bottom: 0px !important;
        letter-spacing: 5px;

        @media screen and (max-width: 1600px) {
          font-size: 80px;
        }
        @media screen and (max-width: 1400px) {
          font-size: 70px;
        }
        @media screen and (max-width: 991px) {
          font-size: 50px;
        }
        @media screen and (max-width: 767px) {
          font-size: 35px;
          letter-spacing: 3px;
        }
        @media screen and (max-width: 575px) {
          color: #000;
        }
        @media screen and (max-width: 400px) {
          font-size: 25px;
        }
      }

      .sub_h6 {
        color: #fff;
        font-size: 30px;
        margin-bottom: 30px;

        @media screen and (max-width: 767px) {
          font-size: 20px;
        }
        @media screen and (max-width: 575px) {
          color: gray;
          margin-bottom: 10px;
        }
        @media screen and (max-width: 400px) {
          font-size: 15px;
        }
      }
    }
  }
}

/* ---------------------------------------
                  six_section
  -------------------------------------------*/

/* ---------------------------------------
                  seven_section
  -------------------------------------------*/

.seven {
  background-color: #fff;
  position: relative;
  z-index: 100;
  .seven_inner {
    padding: 60px 20px;
    background-color: #fff;

    @media screen and (max-width: 400px) {
      padding: 20px 0;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 880px) {
        flex-wrap: wrap;
        gap: 0px;
      }

      .seven-cols {
        max-width: 25%;
        width: 100%;
        // display: flex;
        // justify-content: center;

        @media screen and (max-width: 1199px) {
          max-width: 20%;
        }
        @media screen and (max-width: 880px) {
          max-width: 49.99%;

          &:nth-child(1) {
            margin-bottom: 40px;
          }
          &:nth-child(2) {
            margin-bottom: 40px;
          }
        }
        @media screen and (max-width: 400px) {
          &:nth-child(1) {
            margin-bottom: 20px;
          }
          &:nth-child(2) {
            margin-bottom: 20px;
          }
        }

        @media screen and (max-width: 650px) {
          padding: 20px 15px;
        }

        .facility_box {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 20px;

          .img_part {
            flex-shrink: 0;
            height: 60px;
            width: unset;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 650px) {
              height: 50px;
            }
            @media screen and (max-width: 400px) {
              height: 40px;
            }

            svg {
              height: 100%;
              width: 100%;
              stroke: #3a3a3a;
              fill: none;
              stroke-width: 0.8;
              stroke-dasharray: 1000;
              stroke-dashoffset: 1000;
              animation: dash 3s linear infinite alternate;

              @keyframes dash {
                to {
                  stroke-dashoffset: 400;
                }
              }
            }
          }

          .text {
            h6 {
              font-size: 14px;
              color: var(--sub-color);
              text-align: center;
              font-weight: 600;

              @media screen and (max-width: 450px) {
                font-size: 12px;
              }
              @media screen and (max-width: 400px) {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
/* ---------------------------------------
                  seven_section
  -------------------------------------------*/

/* ---------------------------------------
                  eight_section
-------------------------------------------*/
.eight {
 background-color: #fff;
 position: relative;
 z-index: 100;
  .eight_inner {
    .catgory_links {
      .nav_part {
        max-width: 1800px;
        width: 100%;
        margin: auto;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 60px;
        ul {
          display: flex;
          align-items: center;
          gap: 40px;
          position: relative;
          li {
            a {
              color: gray;
              font-weight: 700;
              font-size: 22px;
              &:hover {
                color: #000;
              }
            }
            .active {
              color: #000;
            }
          }
        }
        .blank_line {
          height: 2px;
          width: 100%;
          background: linear-gradient(to right, lightgray, #fff);
        }
      }
    }
    .product_part {
      .row {
        display: flex;
        justify-content: center;
        gap: 20px;
        .sticky_part {
          max-width: 50%;
          width: 100%;

          .img_part {
            width: 100%;
            position: sticky;
            top: 0;
          }
        }
        .clothes_part {
          max-width: calc(100% - 50%);
          width: 100%;

          .product_warp {
            display: flex;
            flex-wrap: wrap;
            .product-col {
              max-width: 33.33%;
              width: 100%;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
/* ---------------------------------------
                  eight_section
-------------------------------------------*/

/* ---------------------------------------
                  footer
-------------------------------------------*/
.footer {
  height: 300px;
  width: 100%;
  background-color: lightgray;
  padding: 20px 0;
}
/* ---------------------------------------
                  footer
-------------------------------------------*/
